<?xml version="1.0" encoding="UTF-8"?>
<project name="phpunit">
    <include file="container.xml" prefixSeparator=":"/>
    <include file="composer.xml" prefixSeparator=":"/>

    <target name="available">
        <condition property="available">
            <available file="vendor/bin/phpunit"/>
        </condition>
    </target>

    <target name="installed" depends="available,composer:composer.phar" unless="available">
        <container>
            <exec executable="php">
                <arg value="composer.phar"/>
                <arg value="require"/>
                <arg value="phpunit/phpunit"/>
            </exec>
        </container>
    </target>

    <target name="phpunit" depends="installed">
        <container>
            <exec executable="vendor/bin/phpunit">
                <arg value="-c"/>
                <arg file="build/phpunit.xml"/>
                <!--<arg line="&#45;&#45;filter StarWars::union"/>-->
            </exec>
        </container>
    </target>

</project>
